.Web_search {
    width: 100%;
    min-height: 100vh;
    /* width: 1440px;
    height: 3567px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 104px;
    position: relative;
    width: 1440px;
}

.icon_vecrot{
    position: absolute;
    right: 94%;
    top: 30%;
    width: 33px;
    height: 32px;
    }


.Logo {
    width: 157px;
    height: 25px;
    color: rgba(0, 13, 64, 1);
    left: 80%;
    top: 7.34%;
    white-space: nowrap;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    color: #000D40;
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}

.Language{
    color: #129AFE;
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Button1{
    display: flex;
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 100px;
    border: 1px solid  #129AFE;
    background:#FFF;
    cursor: pointer; 
}


.part1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.responsible_text{
    font-family: Abel;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    white-space: nowrap;
}
.link{
    color: #000D40;
    text-align: center;
    font-family: Abel;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px; 
}

* {
    box-sizing: border-box;
  }
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #129AFE;
    float: left;
    width: 80%;
    background: rgba(255, 255, 255, 1);
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    background: rgba(18, 154, 254, 1);
    border-left: none;
    cursor: pointer;
  }



.parth img:first-child {
    margin-right: 1000px;
    margin-top: 20px;

}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    flex-basis: calc(33.333% - 1em); 
    flex-grow: 1;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #ddd;
    background: rgba(250, 251, 252, 1);
    font-family: Abel;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 1em);  
    }
}

.some_text{
    color: #000D40;
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.article{
    color:  #000D40;
    font-family: Abel;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px; 
}

.Footer_CTA{
    width: 1440px;
    height: 440px;
}

.BG_Elip{
    width: 3503px;
    height: 3503px;
    display: flex;
    background: #000D40;
    width: 100%; 
    color: white;
    /* text-align: flex-end; */
    padding: 20px 0;
    
    border-radius: 3503px;
    background: #000D40;
}













.Footer{
    display: flex;
    width: 1440px;
    height: 447px;
    background: #000D40;
    width: 100%; 
    color: white;
    /* text-align: flex-end; */
    padding: 20px 0;
    
}

.First_part {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.icon_vecrot1 {
    position: absolute;
    left: 5%; 
    top: 20%;
    width: 33px;
    height: 32px;
}

.text1 {
    color: #FFF;
    font-family: Aleo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 80px; 
    margin-top: 70px;
}

.Language2{
    color: rgba(255, 255, 255, 1);
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-right: 100px;
    
}

.text3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-left: 80px;

}

.text2{
    color: #5C6485;
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.Privacy_policy{
    color: rgba(255, 255, 255, 1);
    cursor: pointer; 
}


.F_P_K{
    color:  #FFF;
    font-family: Aleo;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 400px;
}



.Features.Pages{
    color: #FFF;
    font-family: Aleo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


 

.Keep_up_to_date{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.Form{
    color: #5C6485;
    font-family: Abel;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    border-radius: 40px;
    border: 1px solid  #129AFE;
    display: flex;
    padding: 12.5px 12px 12.5px 20px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.Button2{
    border-radius: 60px;
    background:  #129AFE;
    display: flex;
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
}

.form_button{
    display: flex;
    justify-content: space-between;
}

.arrow{
     gap: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer; 
}

